{% extends 'FrontendBundle:Layout:frontend.html.twig' %}

{% block body %}

<style>

  #list_of_article{
    margin: 30px 0px;
  }
  #list_of_article a{
    text-decoration: none;
    font-size: 20px;    
  }
  #article_header h1{
    color: #2e75b5;
    text-decoration: underline;
    font-size: 35px;    
  }
  #article_header p{
    color: #333;
      
  }
  #list_of_article p{
    text-align: center;
    font-size: 18px;

  }
  a.btn.btn-primary{
    margin-left: 10px;
  }
  h3{
    height: 100px;
    text-align: center;
  }
  #article_header img{
    float:left;
    margin-right: 30px;
  }
  .current{
    color: #083b72;
  }
  .filter_select, #price{
      color : #2e75b5;
      font-weight: bold;
  }
  #remaining_piece{
    font-size: 15px;
    color : #333;
    font-style: italic;
  }


</style>

<div id="article_header" class="jumbotron">

	<img src="{{ asset( 'pictures/article.png') }}" style="height: 150px"alt="...">
	<h1>Produits</h1>    
	<p> Veuillez trouver ci-dessous l'ensemble des produits disponible sur notre site </p>
  <div class="filter_select" > Trier par : 
    <select id="filtre" onchange="location = this.value">
		<option value="">Aucun</option>
		<option value="{{ path('article_price') }}">Prix</option>
		<option value="{{ path('article_designation') }}">Désignation</option>
		<option value="{{ path('article_stock') }}">Disponibilité</option>
    </select>
  </div>

</div>

<div id="list_of_article" class="row">
	{% for article in articles  %}
	{% if article.active %}
			<div id="item_of_article" class="col-lg-3">      
				<div class="thumbnail">
					<a href='#'>
						<img src="{{ asset( 'pictures/no-image.png') }}" style="height: 150px"alt="...">
							<div class="caption">        
								<h3>{{ article.wording }}</h3>
							</div>
					</a>       
					<p id="price">{{ article.price }}€</p>
				<p>
					{% if article.stock > 0 %}

					<a href="{{ path('add', {'id' : article.id }) }}">
						<button  article_id="{{ article.id }}" type="button" class="btn btn-primary add_basket" >
							<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
						</button>
					</a>
					{% else %}

					<button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="En cours de réapprovisionnement">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              		</button>

          			{% endif %}

				</p>
        <p id="remaining_piece">Pièces restantes : {{ article.stock }}</p>
				</div>
			</div>

	{% endif %}
	{% endfor %}

  <div class="navigation text-center col-lg-12">
    {{ knp_pagination_render(articles) }}
  </div>

</div>

{% endblock %}


{% block javascript %}

<script>

//bulle d'info : product.quantity = 0 : pas de stock
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

</script>

{% endblock %}


