{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}

<style>
  .current{
    color: #083b72;
  }
</style>

<div class="col-lg-10">


    <h1>Commandes</h1>

    <div class="filter_select" > Trier par : 
        <select id="filter">
          <option value="a.active = 0">Non livré</option>
          <option value="a.active = 1">Livré</option>
          <option value="a.date">Date</option>
          <option value="a.client">Client</option>
        </select>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecommand</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td><a href="{{ path('command_show', { 'id': command.id }) }}">{{ command.id }}</a></td>
                <td>{% if command.dateCommand %}{{ command.dateCommand|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if command.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('command_show', { 'id': command.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('command_edit', { 'id': command.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}