{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}

<style>
  .current{
    color: #083b72;
  }
</style>

<div class="col-lg-10">


    <h1>Commandes</h1>

    <div class="filter_select" > Trier par : 
        <select id="filter" onchange="location = this.value">
          <option value="{{ path('command_index') }}">Non livré</option>
          <option value="{{ path('command_status') }}">Livré</option>
          <option value="{{ path('command_date') }}">Date</option>
          <option value="{{ path('command_lastname') }}">Client</option>
        </select>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Date Commande</th>
                <th>Montant Commande</th>
                <th>Livré oui/non ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td><a href="{{ path('command_show', { 'id': command.id }) }}">{{ command.id }}</a></td>
                <td>{{ command.lastname }}</td>
                <td>{{ command.firstname }}</td>
                <td>{{ command.email }}</td>
                <td>{% if command.dateCommand %}{{ command.dateCommand|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ command.totalCommand }} €</td>
                <td>{% if command.status %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('send', { 'id': command.id }) }}">
                        <button type="button" class="btn btn-link btn-lg">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center col-lg-12">
        {{ knp_pagination_render(commands) }}
    </div>

{% endblock %}