{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}

<style>
  .current{
    color: #083b72;
  }
</style>

<div class="col-lg-10">

    <h1>Clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Montant commande</th>
                <th>Date commande</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.lastname }}</td>
                <td>{{ command.firstname }}</td>
                <td>{{ command.email }}</td>
                <td> {{ command.totalCommand }} €</td>
                <td>{% if command.dateCommand %}{{ command.dateCommand|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center col-lg-12">
        {{ knp_pagination_render(commands) }}
    </div>

{% endblock %}